
- provide(:title, "The Chocolate Milk Connoisseur")

#content-about

  %h3
    My name is #{link_to 'Ceres', 'http://unrau.me'}, and I kind of have a thing for chocolate milk.

  %p
    I love it. I’ve always loved it! When I was a baby, I refused to drink any kind of milk (cow’s milk, human breast milk, goat’s milk, etc.), and my parents were worried. They took me to see a doctor, and the doctor suggested adding chocolate to my milk. It worked, and I’ve loved chocolate milk ever since!

  %p
    Chocolate milk has always remained a part of my life. I order it at the restaurant when I go out with friends, I try new brands whenever I see them (especially when I travel), and I make my own chocolate milk concoctions at home.

  %p
    Ordering chocolate milk at the restaurant usually gets a laugh from the staff and my friends alike.
    %em But why?!
    I’m a grown adult, and I can drink what I want, right? Well, chocolate milk is generally considered a children’s drink, and adults drinking it is seen as kind of childish. But we chocolate milk enthusiasts, we brown cow connoisseurs, want to enjoy our passion and still maintain the respect of our peers. So what’s the best way to destroy a stigma? No, not mandatory chocolate milk breakfasts. That’s right, it’s knowledge!

  %p
    Enter
    %strong How Now Brown Cow.

  %p
    Chocolate milk reviews, news, and recipes. Made for adults, but safe for all ages, in this website I share my love of chocolate milk with the world. I hope to help adults enjoy chocolate milk again by arming them with
    %strong Super Brown Cow Knowledge Power!
    I rate chocolate milk brands on creaminess, sweetness, and richness, and I teach you how to make your own amazing chocolate milk at home.

  %p
    To contact me, email #{link_to 'mail@hownowbrowncow.ca', 'mailto:mail@hownowbrowncow.ca'}, or follow me on Twitter at #{link_to '@CMConnoisseur', 'https://twitter.com/CMConnoisseur'}.

  %p
    By day, I am a software engineer. I disigned, developed, and maintain this website myself; built on #{link_to 'Ruby on Rails', 'http://rubyonrails.org'}, and hosted at #{link_to 'Heroku', 'http://heroku.com'}. You can check out the code #{link_to 'here', 'https://github.com/unrau/hownowbrowncow'}, or visit my professional website at #{link_to 'http://unrau.me', 'http://unrau.me'}.

  %p
    Yours truly,
    %br
    Ceres Unrau, aka&hellip;
    %br
    %span.cursive The Chocolate Milk Connoisseur
