
- provide(:title, "Editing Recipe: #{@recipe.title}")

#content-recipies

  %h4
    Editing Recipe:
    = @recipe.title

  = render 'form'

  %br

  = link_to ("#{icon 'reply'} Cancel").html_safe, recipe_url, class: 'button'
