
- provide(:title, "Creating New Recipe")

#content-recipies

  %h4
    = icon 'plus-square-o'
    = icon 'list-ol'
    Create a new Recipe

  = render 'form'

  %br

  = link_to ("#{icon 'reply'} Cancel").html_safe, root_url, class: 'button'
