
- provide(:title, @user.name)

#content-users

  %h3
    = icon 'spoon'
    = @user.name

  - if is_admin?(@user)
    %span.weight-bold Admin
    %br

  = show_gravatar @user

  %p

  %a{ :href => "http://gravatar.com/emails", :target => "_blank", :class => "button" }
    = icon 'pencil'
    Edit Gravatar

  %p

  = link_to ("#{icon 'pencil'} Edit Profile").html_safe, { :action => "edit", :controller => "users"}, class: 'button'
  - if is_admin?(current_user) && !current_user?(@user)

    %p

    = link_to ("#{icon 'remove'} Delete Member").html_safe, user_path(@user),
                        method: :delete,
                        data: { confirm: 'Delete this member? This cannot be undone.' },
                        class: 'button'
