
- provide(:title, "How Now Brown Cow - Chocolate Milk Reviews & Recipes")

#content-home

  .full-column
    #introduction
      %p
        Do you love chocolate milk? Stay tuned for chocolate milk reviews, recipes, news, and history from the Chocolate Milk Connoisseur!
      %p
        Coming Spring 2016

  .half-column
    %center
      #coming-soon
        %h4 Under Construction
        %h4 Coming Spring 2016

  .half-column
    %center

      %h4 Subscribe:

      %p.subscription
        %a{ :href => 'http://eepurl.com/bNoWMv', :class => %w(button sub-email) }
          = icon 'envelope'
          Email Updates

      %p.subscription
        %a{ :href => '#', :class => %w(button sub-youtube) }
          = icon 'youtube-play'
          YouTube Channel

  .half-column
    %center

      %h4 Chocolate Milk Ipsum

      %p
        Chocolate Milk Ipsum is a text generator based on #{link_to 'Lorem Ipsum', 'http://lipsum.com'}. It generates chocolate milk-related nonsense paragraphs which you can use as placeholder text.

      %p
        = link_to 'Go to Chocolate Milk Ipsum', {:controller => 'ipsum', :action => 'index'}, class: 'button'

  .half-column
    %center
      %h4
        The latest tweets (moos?) from
        %br
        #{link_to '@CMConnoisseur', 'https://twitter.com/CMConnoisseur'}:

      - for tweet in @tweets do
        %p.tweet
          = image_tag "logo.png", :class => "twitter-avatar"
          = render_twitter(tweet.text)

  .clearfix
