
- provide(:title, "Chocolate Milk Ipsum")

%center
  %h2{ :name => 'ipsum-top'} Chocolate Milk Ipsum

#chocolate-milk-ipsum-form

  = form_for :ipsum_generator do |f|

    -# Format of @default_options is [int, str, bool]
      int  = number of paragraphs
      str  = length of paragraphs, either 'short', 'medium', or 'long'
      bool = whether the generated text starts with 'Chocolate Milk Ipsum'

    %strong
      Paragraph Size
    = f.select 'paragraph_size', options_for_select(['short', 'medium', 'long', 'random'], @default_options[1])

    %p

    %strong
      Number of Paragraphs
    = f.text_field 'num_paragraphs', value: @default_options[0], class: 'text_field', style: 'width: 50px'

    %p

    %strong
      Start with 'Chocolate milk'
    = f.check_box 'start_with_default', { checked: @default_options[2] }

    %p

    = f.submit 'Generate', class: 'button'

#chocolate-milk-ipsum

  = @ipsum.html_safe

%center
  #ipsum-copyright
    %em
      %strong
        Chocolate Milk Ipsum
      is a placeholder-text generator created by #{link_to 'Tristen Unrau', 'http://unrau.me'}, the author of
      %strong
        How Now Brown Cow.
      %br
      You can #{link_to 'use the code', 'https://github.com/unrau/hownowbrowncow/blob/master/app/controllers/ipsum_controller.rb'} to create your own ipsum generator!
