= form_for @review do |f|

  - if @review.errors.any?
    %ul
      - @review.errors.full_messages.each do |msg|
        %li.col-red
          %strong
            = msg

  = f.label :title
  %br
  = f.text_field :title, class: "text_field"

  %p

  = f.label :text
  %br
  = f.text_area :text, class: "text_field"

  %p

  = f.submit class: "button"
