%h3 Editing Review:

= form_for :review, url: review_path(@review), method: :patch do |f|

  - if @review.errors.any?
    - @review.errors.full_messages.each do |msg|
      %h5.col-red
        = msg

  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :text
    %br
    = f.text_area :text
  %p
    = f.submit

= link_to 'Cancel', { :action => "index", :controller => "reviews"}
