
- provide(:title, "Editing Review: #{@review.title}")

#content-reviews

  %h4
    Editing Review:
    = @review.title

  = render 'form'

  %br

  = link_to ("#{icon 'reply'} Cancel").html_safe, review_url, class: 'button'
