
- provide(:title, "Creating New Review")

#content-reviews

  %h4
    = icon 'plus-square-o'
    = icon 'star'
    Create a new Review

  = render 'form'

  %br

  = link_to ("#{icon 'reply'} Cancel").html_safe, root_url, class: 'button'
