
- provide(:title, @review.title)

#content-reviews

  %h4
    = link_to 'Chocolate Milk Reviews', { :action => "index", :controller => "reviews"}

  %h3
    = @review.title

  .score
    .score-number
      = @review.creaminess
    .score-label
      %strong
        Creaminess

  .score
    .score-number
      = @review.sweetness
    .score-label
      %strong
        Sweetness

  .score
    .score-number
      = @review.richness
    .score-label
      %strong
        Richness

  .score-total
    \/10

  %p
    = render_markdown(@review.text)

  - if logged_in? && is_admin?(current_user)
    = link_to ("#{icon 'pencil'} Edit").html_safe, { :action => "edit", :controller => "reviews"}, class: 'button'

    %p

    = link_to ("#{icon 'remove'} Delete").html_safe, review_path(@review),
                        method: :delete,
                        data: { confirm: 'Delete this review? This cannot be undone.' },
                        class: 'button'
