
- provide(:title, @review.title)

#content-reviews

  %h3
    = link_to 'Chocolate Milk Reviews', { :action => "index", :controller => "reviews"}

  %h3
    = @review.title

  %p
    = render_markdown(@review.text)

  - if logged_in? && is_admin?(current_user)
    = link_to 'Edit', { :action => "edit", :controller => "reviews"}
    %br
    = link_to 'Delete', review_path(@review),
                        method: :delete,
                        data: { confirm: 'Delete this review?' }
