
#footer
  #footer-drip
  #footer-container
    %h3 How Now Brown Cow

    %ul
      %li
        - if !logged_in?
          = link_to ("#{icon 'sign-in'} LOG IN").html_safe, { :action => "new", :controller => "sessions" }
        - else
          = link_to ("#{icon 'sign-out'} LOG OUT").html_safe, logout_path, method: :delete


    Copyright &copy;#{Time.now.year} Tristen Unrau

    -# Show debug info in development environment
    - if Rails.env.development?
      %p
        = debug(params)
