
#footer
  #footer-drip
  #footer-container
    %h3 How Now Brown Cow

    %ul
      %li
        = link_to "HOME", { :action => "index", :controller => "home" }
      %li
        = link_to "★ REVIEWS", { :action => "index", :controller => "reviews" }
      %li
        = link_to "✓ RECIPES", { :action => "index", :controller => "recipes" }
      %li
        = link_to "ABOUT & CONTACT", { :action => "index", :controller => "about" }
      %li
        = link_to "SUBSCRIBE", "http://eepurl.com/bNoWMv", :data => { :'text' => 'SUBSCRIBE'}

    Copyright &copy;
    = Time.now.year
    Ceres Unrau

    -# Show debug info in development environment
    - if Rails.env.development?
      %p
        = debug(params)
