
%header
  #header-container
    #hnbc-title-container
      = link_to "/", { :action => "home", :controller => "static_pages" } do
        = image_tag "logo.png", :id => "hnbc-logo"
        = image_tag "hnbc-title.png", :id => "hnbc-title"
    #cmc-container
      %span.by-the from the
      %br
      = link_to "Chocolate Milk Connoisseur", { :action => "about", :controller => "static_pages" }, :class => "cmc"

#sub-header
  #sub-header-container
    %p.sub-header
      %strong
        %span.col-brown-ale CHOCOLATE MILK
        %span.col-brown-cream Reviews &amp; Recipes, and the search for the
        %span.col-brown-pearl One True Chocolate Milk

- if logged_in?
  #user-control
    #user-control-container
      %ul
        %li
          %span.col-milk.weight-bold
            = icon 'spoon'
            = current_user.name
        %li
          = link_to ("#{icon 'sign-out'} Log Out").html_safe, logout_path, method: :delete
        %li
          = link_to ("#{icon 'user'} My Profile").html_safe, current_user
        - if current_user.admin?
          %li.weight-bold
            = link_to ("#{icon 'users'} Members").html_safe, { :action => "index", :controller => "users"}
          %li.weight-bold
            = link_to ("#{icon 'plus-square-o'} Review").html_safe, { :action => "new", :controller => "reviews" }
          %li.weight-bold
            = link_to ("#{icon 'plus-square-o'} Recipe").html_safe, { :action => "new", :controller => "recipes"}

%nav
  #nav-container
    %ul
      %li
        = link_to ("#{icon 'home'} HOME").html_safe, { :action => "home", :controller => "static_pages" }
      %li
        = link_to ("#{icon 'star'} REVIEWS").html_safe, { :action => "index", :controller => "reviews" }
      %li
        = link_to ("#{icon 'list-ol'} RECIPES").html_safe, { :action => "index", :controller => "recipes" }
      %li
        = link_to ("#{icon 'info-circle'} ABOUT & CONTACT").html_safe, { :action => "about", :controller => "static_pages" }

#drip
