
%header
  #header-container
    #hnbc-title-container
      = link_to "/", { :action => "index", :controller => "home" } do
        = image_tag "logo.png", :id => "hnbc-logo"
        = image_tag "hnbc-title.png", :id => "hnbc-title"
    #cmc-container
      %span.by-the from the
      %br
      = link_to "Chocolate Milk Connoisseur", { :action => "index", :controller => "about" }, :class => "cmc"

#sub-header
  #sub-header-container
    %p.sub-header
      %strong
        %span.col-brown-ale CHOCOLATE MILK
        %span.col-brown-cream Reviews & Recipes, and the search for the
        %span.col-brown-pearl One True Chocolate Milk

- if logged_in?
  #user-control
    #user-control-container
      %ul
        %li
          %span.col-milk.weight-bold
            = current_user.name
        %li
          = link_to "My Profile", current_user
        %li
          = link_to "Log out", logout_path, method: :delete
        - if current_user.admin?
          %li.weight-bold
            = link_to "Members", { :action => "index", :controller => "users"}
          %li.weight-bold
            = link_to '+ Review', { :action => "new", :controller => "reviews" }
          %li.weight-bold
            = link_to '+Recipe', { :action => "new", :controller => "recipes"}

%nav
  #nav-container
    %ul
      %li
        = link_to "Home", { :action => "index", :controller => "home" }, :data => { :'text' => 'Home' }
      %li
        = link_to "★ REVIEWS", { :action => "index", :controller => "reviews" }, :data => { :'text' => '★ REVIEWS' }
      %li
        = link_to "✓ RECIPES", { :action => "index", :controller => "recipes" }, :data => { :'text' => '✓ RECIPES' }
      %li
        = link_to "About & Contact", { :action => "index", :controller => "about" }, :data => { :'text' => 'About & Contact' }

#drip
