!!!
%html

  %head
    %title How Now Brown Cow
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body

    #wrapper

      %header
        #header-container
          #hnbc-title-container
            = image_tag "hnbc-title.png", :id => "hnbc-title"
          #cmc-container
            %span.by-the by the
            %br
            %a{ :href => "#", :class => "cmc"} Chocolate Milk Connoisseur

      #sub-header
        #sub-header-container
          %p.sub-header
            %span.col-brown-ale Chocolate Milk
            %span.col-brown-cream Reviews & Recipes, and the search for the
            %span.col-brown-pearl One True Chocolate Milk

      %nav
        #nav-container
          %ul
            %li
              %a{ :href => "/" } Home
            %li
              %a{ :href => "#" } REVIEWS
            %li
              %a{ :href => "#" } RECIPIES
            %li
              %a{ :href => "#" } ★ CHOC’O’METER
            %li
              %a{ :href => "#" } About & Contact

      #drip

      #content-container
        = yield
