!!!
%html

  %head

    %title= yield(:title)

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    -# Prevent hairline gaps in iOS with this viewport fix
    %meta{ :name => "viewport", :content => "initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" }

  %body

    #wrapper

      = render 'layouts/header'

      = render 'layouts/content'

      = render 'layouts/footer'
