!!!
%html

  %head
    %title How Now Brown Cow
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    // Prevent hairline gaps in iOS with this viewport fix
    %meta{ :name => "viewport", :content => "initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" }

  %body

    #wrapper

      %header
        #header-container
          #hnbc-title-container
            = link_to "/", { :action => "index", :controller => "home" } do
              = image_tag "hnbc-title.png", :id => "hnbc-title"
          #cmc-container
            %span.by-the from the
            %br
            = link_to "Chocolate Milk Connoisseur", { :action => "index", :controller => "about" }, :class => "cmc"

      #sub-header
        #sub-header-container
          %p.sub-header
            %span.col-brown-ale Chocolate Milk
            %span.col-brown-cream Reviews & Recipes, and the search for the
            %span.col-brown-pearl One True Chocolate Milk

      %nav
        #nav-container
          %ul
            %li
              = link_to "Home", { :action => "index", :controller => "home" }
            %li
              = link_to "REVIEWS", { :action => "index", :controller => "reviews" }
            %li
              = link_to "RECIPES", { :action => "index", :controller => "recipes" }
            %li
              = link_to "★ CHOC’O’METRE", { :action => "index", :controller => "chocometre" }
            %li
              = link_to "About & Contact", { :action => "index", :controller => "about" }

      #drip

      #content
        #content-container
          = yield

      #footer
        #footer-drip
        #footer-container
          %h3 Footer
          %a{ :href => "#"} Log In
          %br
          = link_to '+ Review', { :action => "new", :controller => "reviews"}
